<%= link_to "Home", "/" %>

<h1><%= @friend.id %></h1>
<h2><%= @friend.character %></h2>
<h2><%= @friend.quote %></h2>
<h2><%= @friend.location %></h2>

<%= link_to "Edit", "/friends/#{ @friend.id }/edit" %>
<%= link_to "Delete", "/friends/#{ @friend.id }", method: :delete %>
